.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.signUpWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50%;
  overflow-wrap: nowrap;
  width: 80vw;
}

.header {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.phoneWrapper {
  display: flex;
  overflow-x: hidden;
  padding: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  margin-bottom: 20px;
}

.bottomText {
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.phoneInput {
  width: 175px;
  padding: 0;
  background-color: transparent;
  height: 100%;
  margin: 0;
  border: 0;
  font-size: 24px;
  font-weight: 300;
}

.phoneInput::placeholder {
  color: #ffffff3c;
}

.phoneInput:focus {
  outline: none;
}

.phoneWrapper:has(.phoneInput:focus) {
  border-bottom: white;
}

.input_prefix {
  margin: 0;
  padding: 0;
}

.input_prefix_edited {
  color: white;
}

.phoneWrapper div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin-top: 50%;
  font-weight: 400;
}
