.header {
  padding: 0px 20px;
  margin-top: 45vh;
  margin-bottom: 20px;
  font-size: 24px;
}

.header span {
  color: #02a4f5;
}

.paragraph {
  padding: 0px 20px;
  margin: 0;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 500;
}

.paragraph span {
  color: #02a4f5;
}

.herobutton {
  margin-bottom: 20px;
}

.herobutton:active {
  background: linear-gradient(135deg, #96c0ff 0%, #005fff 100%);
}

.bottomText {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

.herobutton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.herobutton_span {
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
}

.hero_page_bg {
  background-image: url('../src/assets/heroPageBg.png');
  background-repeat: no-repeat;
  background-position: 30% 5%;
}
