.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  min-height: 100%;
  color: white;
}

.invite_container {
  background-image: url('src/assets/inviteFriends.png');
}

.invite_container_desc {
  font-size: 20px;
  text-align: center;
}

.title {
  margin: 0;
}

.title span {
  color: #02a4f5;
}

.title_invite {
  font-size: 24px;
  text-align: center;
}

.title_invite span {
  font-size: 26px;
  display: block;
  color: white;
}

.container img {
  width: 70% !important;
}

.container button {
  width: 100%;
}

.container p {
  margin-bottom: auto;
}

.bottomText {
  margin-top: 20px;
  justify-self: flex-end;
}

.minibutton {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  background: none;
  outline: none;
  border: none;
}

.minibutton:active {
  background: none;
  opacity: 0.8;
}
