.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  min-height: 100%;
  color: white;
}

.title {
  margin: 0;
}

.container img {
  width: 70%;
}

.container button {
  width: 100%;
}

.container p {
  margin-bottom: auto;
}

.bottomText {
  margin-top: 20px;
  justify-self: flex-end;
}

.minibutton {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  background: none;
  outline: none;
  border: none;
}
