.container {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.header button {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
}

.Slider {
  display: flex;
  overflow-x: hidden; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Optional: for snap effect */
  margin-bottom: 20px;
}

.SliderWrapper {
  display: flex; /* Align children in a row */
  transition: transform 0.3s ease; /* Smooth transition for the transform property */
  width: 100%;
  padding: 10px 0;
  /* Enable scrolling */
}

.cardWrapper {
  flex: 0 0 auto; /* Prevent flex items from shrinking */
  width: 100%; /* Set a fixed width for each card */
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  border-radius: 15px;
  background: linear-gradient(315deg, rgba(1, 59, 155, 0) 0%, rgba(1, 59, 155, 1) 100%);
  background-color: blue;
}
.cardWrapper h1,
.cardWrapper h2,
.cardWrapper p {
  margin: 0;
}

.cardWrapper h1 {
  font-size: 18px;
  margin-bottom: 20px;
}
.cardWrapper h2 {
  font-size: 14px;
}

.cardWrapper p {
  font-size: 15px;
}
.cardBottomInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.currencyCard {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.CurrencyInfoWrapper h1 {
  margin-bottom: 10px;
}

.inputWrapper {
  margin-bottom: 20px;
  width: 100%;
}
.inputWrapper input {
  width: 100%;
  text-align: end;
  border: 0;
  border-bottom: 1px solid white;
  font-size: 24px;
}

.inputWrapper input:focus {
  border-bottom: 2px;
  outline: none;
}

.buyBtn {
  width: 95%;
  align-self: flex-end;
  position: fixed;
  bottom: 20px;
  left: 5;
}

.buyBtn:disabled {
  opacity: 50%;
}

.exhange_title {
  padding-left: 10px;
  color: #ffffffbb;
  font-weight: 500;
}

.exhange_title_wallet {
  padding-left: 10px;
  color: #fff;
  font-weight: 500;
  background: none;
  outline: none;
  border: none;
  font-size: 16px;
}

.exhange_title_wallet:active {
  background: none;
}
