.container {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(1, 59, 155, 1) 100%);
  color: white;
  height: 100vh;
}

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.header button {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
}

.history_dates {
  list-style: none;
  padding: 0;
  margin: 20px 10px;
}

.operation__date {
  margin-top: 20px;
  width: calc(100% - 40px);
  margin-left: 10px;
  font-size: 22px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.356);
}
