.page {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(1, 59, 155, 1) 100%);
}

.one-way-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.hero-page {
  background: linear-gradient(180deg, #000000 0%, #0047be);
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.button {
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 90%;
  padding: 18px 0px;
  background: linear-gradient(180deg, #287AF4 0%, rgb(16 35 67) 95.5%)
}

button:active {
  background: linear-gradient(135deg, #96c0ff 0%, #005fff 100%);
}
