.navBarMenu {
  top: 87vh;
  position: fixed;
  max-width: 98%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #090619;
  flex-shrink: none;
  flex-grow: none;
  border-radius: 10px;
}

.navBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  border: none;
  background: none;
  padding: 0;
}

.iconContainer {
  width: 32px;
  height: 32px;
  padding: 5px;
  border-radius: 50%;
}

.iconContainer img {
  width: 100%;
}

.navBtnContainer p {
  width: 70px;
  font-size: 12px;
  text-align: center;
  margin: 0;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
