.header {
  margin-top: 33vh;
  padding: 0px 20px;
  margin-bottom: 20px;
}

.header span {
  color: white;
  font-size: 20px;
}

.paragraph {
  padding: 0px 20px;
  margin: 0;
  margin-bottom: 50px;
}

.paragraph span {
  color: #02a4f5;
}

.herobutton {
  font-size: 20px;
  position: fixed;
  bottom: 40px;
  background: rgb(0, 51, 136);
  background: linear-gradient(40deg, rgba(0, 51, 136, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.herobutton:active {
  background: linear-gradient(135deg, #96c0ff 0%, #005fff 100%);
}

.transactionInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding: 20px;
}

.transactionInfo p {
  margin: 0;
}

.leftSide,
.rightSide {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 10vh;
  justify-content: center;
  gap: 10px;
}

.leftSide div {
  margin: 8px;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #1f1f1f;
}
.centerSide {
  font-size: 30px;
  transform: rotate(90deg);
}

.transactionPage {
  background: rgb(1, 59, 155);
  background: linear-gradient(180deg, rgba(1, 59, 155, 1) 0%, rgba(0, 96, 255, 1) 100%);
}

.transactionRejected {
  background: rgb(0, 96, 255);
  background: linear-gradient(0deg, rgba(0, 96, 255, 1) 0%, rgba(115, 6, 6, 1) 100%);
}
