.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

.header {
  font-size: 24px;
  margin-bottom: 20%;
}

.numpadWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.optionView {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
}

.passwordSquares {
  display: flex;
  gap: 10px;
  margin: 35px 0;
}

.passwordSquare {
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 30px;
  max-width: 300px;
}

.numpadButton {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  border: 2px solid #ccc;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numpadButton:hover {
  background-color: #e0e0e0;
}

.bottomText {
  margin-top: 20px;
}

.cardInput {
  border: 0;
  width: 100%;
  font-size: 24px;
  margin-bottom: 20%;
}
.cardInput::placeholder {
  font-size: 22px;
}

.button {
  width: 100%;
  margin-bottom: 20px;
  background: none;
  background-color: white;
  color: black;
}
